$gemini-use: (
  alerts: true,
  grid: true,
  buttons: true,
  rules: true,
  colors: true
);

$gemini-colors: (
  white: rgb(255, 255, 255),
  red: rgb(250, 10, 10),
  green: rgb(10, 250, 10)
);

$gemini-base: (
  font-family:
    unquote(
      '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Lucida Grande, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol'
    )
);

@import 'gemini-css/init';

html {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

body {
  background-color: #f8f8f9;
}

p:last-child {
  margin-bottom: 0;
}

.field {
  margin-bottom: get(spacing);
}

.container {
  flex: 1;
  border: 1px solid #d6d6d6;
  border-radius: get(border-radius);
  background-color: getColor(white);
}

.alert-form__message,
.alert-form__list {
  margin-bottom: get(spacing) / 2;
}

.alert--success,
.alert-form--success,
.alert-input--success {
  padding: get(spacing) / 4;
  color: getColor(green);
  background-color: rgba(getColor(green), 0.1);
  border: 1px solid rgba(getColor(green), 0.4);
  border-radius: get(border-radius);
}

.alert--fail,
.alert-form--fail,
.alert-input--fail {
  padding: get(spacing) / 4;
  color: getColor(red);
  background-color: rgba(getColor(red), 0.1);
  border: 1px solid rgba(getColor(red), 0.4);
  border-radius: get(border-radius);
}

.form__alerts,
.field__errors {
  margin-top: 8px;
  margin-bottom: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:before {
    display: none;
    border: 2px solid currentColor;
    border-top: 2px solid transparent;
    border-radius: 999px;
    width: get(spacing) * 0.75;
    height: get(spacing) * 0.75;
    margin-right: get(spacing) / 2;
    content: '';
  }

  &.is-loading:before {
    animation: 2s loadingSpinner infinite linear;
    display: inline-block;
  }
}

@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
